* {
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
	line-height: 1rem;
	font-size: 0.66666rem;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
}

html {
	font-size: 1.5em;
	color: #333;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	color: #4d4d4d;
	background-image: url('../img/bg.png');
	background-position: calc(50% + 0px) 0%;
	display: flex;
	flex-flow: column;
	width: 100vw;
	height: 100vh;
}

.header {
	height: 4rem;
}

.content {
	height: calc(100% - 4rem);
}

.header,
.content {
	display: flex;
}

.header .channellistcolumn,
.content .channellistcolumn {
	min-width: 10rem;
	padding: 1rem;
	border-right: 1px solid hsl(222, 41.7%, 91.3%);
	color: #384052;
}

.header .channellistcolumn {
	/* border-bottom: 1px solid hsl(222, 41.7%, 91.3%); */
}

.content .channellistcolumn {
	/* background-color: hsl(222, 41.7%, 90.3%); */
	padding: 0;
}

.header .chatcolumn,
.content .chatcolumn {
	width: 100%;
	padding: 1rem;
}

.header .chatcolumn {
	border-bottom: 1px solid hsl(222, 41.7%, 96.3%);
}

.content .chat-container {
	display: flex;
	flex-flow: column;
	width: 100%;
	justify-content: space-between;
	background-color: #fff;
}
.content .chat-container .chatcolumn {
	overflow-y: auto;
	overflow-x: hidden;
}

.content .chat-container .chatcolumn .msglist {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.content .chat-container .chatcolumn .msglist .message-container {
	margin-bottom: 0.5rem;
	display: flex;
	flex-flow: row;
	max-width: 66%;
	align-items: center;
}

.content .chat-container .chatcolumn .msglist .message {
	/* background-color: hsl(164, 40%, 59.9%); */
	background-color: #effdde;
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.76) !important;
	font-size: 0.5625rem;
	padding: 0.5rem 1rem;
	display: inline-block;
	margin-top: 0.75rem;
	margin-bottom: 0.25rem;
	border-bottom: 2px solid hsl(87.1, 68.6%, 87.1%);
	box-shadow: 0px 0px 3rem hsl(222, 41.7%, 95.3%);
}
.another-user .message {
	background-color: #fdfefe !important;
	border-bottom: 2px solid hsl(222, 41.7%, 95.3%) !important;
}
.content .chat-container .chatcolumn .msglist .message-container .data-container {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.data-container .username {
	margin-bottom: 0.5rem;
}

.logged-user .data-container .datetime {
	align-self: flex-start !important;
}

.message-container .avatar {
	min-width: 2.75rem;
	height: 2.75rem;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 0.1625rem #a3a0a0;
	margin-right: 0.5rem;
	background-size: cover;
	background-color: hsl(0, 1.6%, 95.3%);
}

.logged-user .avatar {
	margin-right: 0;
	margin-left: 0.5rem;
	order: 2;
}

.content .chat-container .chatcolumn .msglist .message-container .datetime {
	color: hsl(222, 41.7%, 70.3%);
	font-size: 0.4375rem;
}

.content .chat-container .chatcolumn .msglist .logged-user,
.content .chat-container .chatcolumn .msglist .logged-user .datetime {
	align-self: flex-end;
}

/* .content .chat-container .chatcolumn .msglist .message * {
	display: inline-block;
} */

.content .chat-container .inputbox {
	margin: 1rem;
}
.content .chat-container .inputbox input {
	width: 100%;
	background-color: #fdfefe;
	border-width: 0;
	border-radius: 5px;
	color: hsl(198.9, 7.6%, 50.8%);
	padding: 0.5rem 1rem;
	font-size: 0.5625rem;
	border: 1px solid hsl(222, 41.7%, 91.3%);
}

.header .userlistcolumn,
.content .userlistcolumn {
	min-width: 12rem;
	padding: 1rem;
	border-left: 1px solid hsl(222, 41.7%, 91.3%);
	display: flex;
	flex-flow: column;
}
.MYNAME{
	
}
.content .channellistcolumn .darker_channel {
	background: #fff;
	padding: 1rem;
	transition: all 400ms;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.84);
}
.content .channellistcolumn .darker_channel:hover {
	background: hsl(222, 41.7%, 91.3%);
	padding: 1rem;
}

.content .channellistcolumn .darker_channel_clicked {
	background: hsl(222, 41.7%, 81.3%);
	padding: 1rem;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
}

.content .userlistcolumn {
	justify-content: space-between;
}
.content .userlistcolumn .ownerlist {
	height: 100%;
}
.content .userlistcolumn .userlist .container.darker,
.content .userlistcolumn .ownerlist .container.darker {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin-bottom: 1rem;
	font-weight: 600;
	align-items: center;
}
.content .userlistcolumn .userlist .container.darker p,
.content .userlistcolumn .ownerlist .container.darker p {
	line-height: 1.85rem;
	margin-bottom: 0.15rem;
}
.content .userlistcolumn .userlist .container.darker .avatar,
.content .userlistcolumn .ownerlist .container.darker .avatar {
	width: 2rem;
	height: 2rem;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 0.1625rem #a3a0a0;
	margin-right: 0.5rem;
	background-size: cover;
	background-color: hsl(0, 1.6%, 95.3%);
}

.userlist + h3 {
	padding-top: 2rem;
	font-size: 0.875rem;
	padding-bottom: 1rem;
}

/* adduser */

.addusermodal {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: hsla(222, 41.7%, 85.3%, 0.2) !important;
	justify-content: center;
	align-items: center;

	/*display: flex;
  	flex-flow: column;*/
}


.addusermodal-wrapper {
	width: 24rem;
	height: 12rem;
	background-color: #fff;
	border-radius: 5px;
	color: hsl(198.9, 7.6%, 50.8%);
	padding: 0.5rem 1rem;
	font-size: 0.5625rem;
	/* border: 1px solid hsl(222, 41.7%, 91.3%); */
	box-shadow: 0px 0px 3rem hsl(222, 41.7%, 95.3%);
	
}

.element{
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.addusermodal-content {
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
}

/* modal */

.profilemodal {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: hsla(222, 41.7%, 85.3%, 0.2) !important;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.profilemodal-wrapper {
	width: 12rem;
	background-color: #fff;
	border-radius: 5px;
	color: hsl(198.9, 7.6%, 50.8%);
	padding: 0.5rem 1rem;
	font-size: 0.5625rem;
	/* border: 1px solid hsl(222, 41.7%, 91.3%); */
	box-shadow: 0px 0px 3rem hsl(222, 41.7%, 95.3%);
}

.profilemodal-content {
	text-align: center;
}
/* additional stying for w3schools */

h2 {
	font-size: 1rem;
}

.hoverWrapper {
	display: flex;
	flex-flow: row;
}

.hoverWrapper .w3-button {
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	margin-top: 0.1625rem;
}
#hoverShow1,
#hoverShow2 {
	margin-left: 0.5rem;
}

.w3-button {
	width: 1rem;
	height: 1rem;
	padding: 0;
	margin-left: 0.5rem;
	background-color: hsl(222, 41.7%, 95.3%) !important;
	transition: all 200ms;
}
.w3-xlarge {
	margin-left: 0.25rem;
}

.w3-button:hover {
	background-color: hsl(222, 41.7%, 85.3%) !important;
	color: #fff !important;
}
