aniso8601==3.0.2
Click==7.0
Flask==1.0.2
Flask-Assets==0.12
Flask-JWT==0.3.2
Flask-JWT-Extended==3.13.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==3.1.4
MarkupSafe==1.0
marshmallow==2.16.1
passlib==1.7.1
PyJWT==1.4.2
PyQt5==5.11.2
PyQt5-sip==4.19.12
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.12
webassets==0.12.1
Werkzeug==0.14.1
