<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	{% assets "css_files" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
</head>
{% assets "js_files" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<body>
	<div id="myprofilemodal" class="profilemodal" style="display: none;">
		<div class="profilemodal-wrapper">
			<!-- Modal content -->
			<div class=" profilemodal-content">
				<div class="profilemodal-header">
					<h2>JAREK</h2>
				</div>
				<div class="profilemodal-body">
					<p>MY EMAIL IS COOL</p>
					<p>Some other text...</p>
				</div>
				<div class="profilemodal-footer">
					<h3>KORMORANY</h3>
				</div>
			</div>
		</div>

	</div>
	<div class="header">
		<div class="channellistcolumn">
			<div class="hoverWrapper">
				<h2>Channels</h2>
				<div id="hoverShow1">
					<button onclick="addchannel()" class="w3-button w3-xlarge w3-circle w3-green">+</button></div>
			</div>
		</div>
		<div class="chatcolumn">
			<h2>Messages</h2>
		</div>
		<div class="userlistcolumn">
			<div class="hoverWrapper">
				<h2>Users</h2>
				<div id="hoverShow2">
					<button onclick="adduser()" class="w3-button w3-xlarge w3-circle w3-green">+</button></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="channellistcolumn" id="chanulisto">
		</div>
		<div class="chat-container">
			<div class="chatcolumn">
				<div class="msglist" id="msglisto">
				</div>

			</div>
			<div class="inputbox" id="inputbex">
				<input type="text" id="msgtext" name="msgtexto" placeholder="Say something!">
			</div>
		</div>
		<div class="userlistcolumn">
			<div class="userlist" id="usrlistocolumn"></div>
			<h3>Owners</h3>
			<div class="ownerlist" id="ownerlistocolumn"></div>
			<div id="myprofilemodalbtn" class="container darker">
				<img src="" alt="Avatar">
				<p>MYNAME</p>
			</div>
		</div>
	</div>
</body>

</html>