<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	{% assets "css_files" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
</head>
{% assets "js_files" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<body>
	<div id="myprofilemodal" class="profilemodal" style="display: none;">
		<div class="profilemodal-wrapper">
			<!-- Modal content -->
			<div class=" profilemodal-content">
				<div class="profilemodal-header">
					<div id="MYNAME_avatar"></div>
					<h2 id="MYNAME_username"></h2>
				</div>
				<div class="profilemodal-body">
					<p id="MYNAME_email"></p>
					<!--<p>Some other text...</p>-->
				</div>
				<div class="profilemodal-footer">
					<button id="MYNAME_logout">Logout</button>
				</div>
			</div>
		</div>
	</div>

	<div id="addusermodal" class="addusermodal" style="display: none;">
		<div class="addusermodal-wrapper">
			<!-- Modal content -->
			<div class="addusermodal-header">
				<p>Login</p>
				<p>User access</p>
				<p>Owner access</p>
			</div>
			<div class="addusermodal-content">
				adduser
			</div>
		</div>
	</div>
	<div class="header">
		<div class="channellistcolumn">
			<div class="hoverWrapper">
				<h2>Channels</h2>
				<div id="hoverShow1">
					<button onclick="addchannel()" class="w3-button w3-xlarge w3-circle w3-green">+</button></div>
			</div>
		</div>
		<div class="chatcolumn">
			<h2 id="currentChannel">Messages</h2>
		</div>
		<div class="userlistcolumn">
			<div class="hoverWrapper">
				<h2>Users</h2>
				<div id="hoverShow2">
					<button onclick="adduser()" class="w3-button w3-xlarge w3-circle w3-green">+</button></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="channellistcolumn" id="chanulisto">
		</div>
		<div class="chat-container">
			<div class="chatcolumn">
				<div class="msglist" id="msglisto">
				</div>

			</div>
			<div class="inputbox" id="inputbex">
				<input type="text" id="msgtext" name="msgtexto" placeholder="Say something!">
			</div>
		</div>
		<div class="userlistcolumn">
			<!-- <h3>Users</h3> -->
			<div class="userlist" id="usrlistocolumn"></div>
			<h3>Owners</h3>
			<div class="ownerlist" id="ownerlistocolumn"></div>
			<div id="myprofilemodalbtn" class="container darker">
				<p id="MYNAME">MYNAME</p>
			</div>
		</div>
	</div>
</body>

</html>